In [2]:
import pandas as pd

In [8]:
data = pd.read_json('sherdog/data/cumulative.json')
data.head()

,0,1,10,100,101,102,103,104,105,106,...,90,91,92,93,94,95,96,97,98,99
0,"{'date': 1492819200000, 'details': 'rear-naked...",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,"{'date': 1430524800000, 'details': 'rear-naked...","{'date': 1492819200000, 'details': 'rear-naked...",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
10,"{'date': 1295049600000, 'details': 'rear-naked...","{'date': 1298678400000, 'details': 'guillotine...",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
100,"{'date': 1105488000000, 'details': 'punches', ...","{'date': 1107302400000, 'details': 'punches', ...","{'date': 1145059200000, 'details': 'punches', ...",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1000,"{'date': 1354406400000, 'details': 'doctor sto...","{'date': 1354406400000, 'details': 'unanimous'...",None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None